/* Loader style */
.loader{
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 100px 50%;
    opacity: 0.6;
}
.detail{
    padding: 5vh 10vw;
}
.navigation{
  margin-top: 5vh;
  padding: 10px 50px;
}
.path{
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 20px;
}
.path svg{
  font-style: 15px;
  color: black;
}
.path p{
  font-size: 17px;
}
@media (max-width:800px){
    .path p{
        font-size: 15px;
    }
}
@media (max-width:600px){
      .navigation{
      margin-top: 5vh;
      padding: 10px 20px;
    }
    .path{
      display: flex;
      gap: 5px;
      align-items: center;
      padding:5px;
    }
    .path p{
        font-size: 13px;
    }
    .path p:last-child{
        font-size: 10px;
    }
}