/* Loader style */
.loader{
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 100px 50%;
    opacity: 0.6;
}
/* Products style */
.products{
    padding: 5% 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

/* Card style */
.card{
    overflow: hidden;
    background-color: rgb(255, 255, 241);
    border: 1px solid #d1ddd383;
    padding: 10px 40px;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 300px;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    cursor: pointer;
}
button {
    display: none !important;
    width: 80%;
    background-color: #ffee00;
    border: none;
    font-size: 15px;
    padding: 4px 15px;
    border-radius: 10px;
    cursor: pointer;

}
button:hover{
    background-color: #ffbb00;
}
.card:hover button{
    display: block !important;
}
.card:hover p{
    display: none;
}
button{
    display: none;
}
.card:hover{
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.card img{
    width: max-content;
    height: 150px;
    object-fit: cover;
}
.card h1{
    font-size: 17px;
}
.card p{
    font-size: 13px;
}
.rating {
    display: flex;
    gap:10px;
    align-items: center;
}
.rating p{
    display: none;
    font-style: 13px;
    opacity: 0.7;
}
.card:hover .rating p{
    display: block;
}
.topic{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    
}

@media (max-width:600px){
    .card{
        height: 330px;
    }
    button{
        display: block !important;
    }
}
/* If have detail class */